#content {
    display: flex;
    justify-content: center;
    margin: 7px;
}

button {
  cursor: pointer;
}

h2 {
  color: blue;
  text-align: center;
  text-transform: uppercase;
}

/* Grid*/
:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    /*grid-gap: 1em;*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 50%;
    margin: auto;
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #8a8888;
    text-align: center;
    /*opacity: 0;
    transition: opacity 0.4s ease;
    *//*addingatransistingeffect*/transition: opacity 2s ease 1.10s, transform 1.10s ease;
    transform: scale(1);
    -webkit-transition: opacity 2s ease 0.4s, transform 1.10s ease;
    -moz-transition: opacity 2s ease 0.4s, transform 1.10s ease;
    -ms-transition: opacity 2s ease 0.4s, transform 1.10s ease;
    -o-transition: opacity 2s ease 0.4s, transform 1.10s ease;
}

  .grid-item:hover {
    background-color: red;
    opacity: 1;
    transform: scale(1.04);
}